@use "sass:map";

$colors: (
  "default": (
    "light": (
      "01": #fcfcfd,
      "02": #f9f9fb,
      "03": #f0f0f3,
      "04": #e8e8ec,
      "05": #e0e1e6,
      "06": #d9d9e0,
      "07": #cdced6,
      "08": #b9bbc6,
      "09": #8b8d98,
      "10": #80838d,
      "11": #60646c,
      "12": #1c2024,
    ),
    "dark": (
      "01": #111113,
      "02": #18191b,
      "03": #212225,
      "04": #272a2d,
      "05": #2e3135,
      "06": #363a3f,
      "07": #43484e,
      "08": #5a6169,
      "09": #696e77,
      "10": #777b84,
      "11": #b0b4ba,
      "12": #edeef0,
    ),
  ),
);

@mixin styles {
  :root {
    @each $color, $values in $colors {
      $light: map.get($values, "light");
      $dark: map.get($values, "dark");

      @each $i, $_ in $light {
        --clr-#{$color}-#{$i}: light-dark(
          #{map.get($light, $i)},
          #{map.get($dark, $i)}
        );
      }
    }
  }

  /* Basic dark mode support */
  body {
    color-scheme: light dark;
    background-color: Canvas;
    color: CanvasText;
  }

  [data-theme="light"] {
    color-scheme: only light;
  }

  [data-theme="dark"] {
    color-scheme: only dark;
  }

  @each $color, $_ in $colors {
    [data-palette="#{$color}"] {
      --clr-01-app-background: var(--clr-#{$color}-01);
      --clr-02-subtle-background: var(--clr-#{$color}-02);
      --clr-03-ui-element-background: var(--clr-#{$color}-03);
      --clr-04-ui-element-background-hover: var(--clr-#{$color}-04);
      --clr-05-ui-element-background-active: var(--clr-#{$color}-05);
      --clr-06-subtle-border: var(--clr-#{$color}-06);
      --clr-07-ui-element-border: var(--clr-#{$color}-07);
      --clr-08-ui-element-border-hover: var(--clr-#{$color}-08);
      --clr-09-solid-background: var(--clr-#{$color}-09);
      --clr-10-solid-background-hover: var(--clr-#{$color}-10);
      --clr-11-text-low-contrast: var(--clr-#{$color}-11);
      --clr-12-text-high-contrast: var(--clr-#{$color}-12);
    }
  }
}
